.square.unvisited {
    -fx-border-style: solid;
    -fx-background-color: khaki;
}

.square:hover {
    -fx-background-color: gray;
}
.square.removed{
    -fx-background-color: transparent;
}

.blackKing{
    -fx-fill: black;
}
.whiteKing{
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.transparentCircle{
    -fx-fill: transparent;
}